[% html_head %]
[% UNLESS hide %]
<div class="light_container">
<div class="light_menu">
	<ul>
		[% FOREACH item = item_order %]
		<li><a [% IF items.$item.table == current %]class="light_menu_current" [% END %]href="[% items.$item.link %]">[% items.$item.label %]</a></li>
		[% END %]
	</ul>
</div>
<p>[% description %]</p>
</div>
[% END %]
[% content %]
